.header-container {
  background-color: #333;
  color: #fff;
  padding: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.3s ease;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* loginpage */

/* Apply styles to the entire login container */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Style the form */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

/* Style labels and inputs */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the login button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style the label and input together */
.label-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Add media query for responsiveness */
@media (max-width: 600px) {
  /* Stack label and input vertically on smaller screens */
  .label-input-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
